@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans');

:root {
	--warning-color: #d4483f;
	--light-grey-color: #eeeeee;
	--dark-grey-color: #555555;
	--white-color: #ffffff;
	--gradient-start: #141e30;
	--gradient-end: #36577d;
}

* {
	font-family: 'Open Sans', sans-serif;
}

body {	
	background-color: var(--light-grey-color);
	margin: 0;
}

section, footer {
	background-color: white;
	margin: 2rem;
	padding: 2rem;
}

header {
	background-image: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
	color: var(--white-color);;
	font-size: 2rem;
	padding: 8rem 4rem 4rem 4rem;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 1.2em;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

.important {
	background-color: var(--warning-color);
	border-radius: 1rem;
	padding: 0.5rem;
	color: white;
	text-transform: uppercase;
	font-size: 0.7rem;
}

.unimportant {
	color: var(--dark-grey-color);
}

/* Styling of the table */

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid var(--light-grey-color);
}

th {
	background-color: var(--light-grey-color);
}

th, td {
	padding: 0.7rem;
}

@media only screen and (max-width: 768px) {
	table, tbody, th, td, tr, tfoot {
		display: block;
	}

	thead {
		display: none;
	}

	td:nth-of-type(1) {
		background-color: var(--light-grey-color);
	}
}

/* Styling of the definition and abbreviation tags */

abbr, dfn {
    position: relative;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}

dfn::after, abbr::after {
	font-family: "Font Awesome 5 Free";
  	content: "\f059";
  	vertical-align: super;
  	font-style: normal;
    font-variant: normal;
    font-size: 0.5em;
    padding: 0.4em;
}

abbr:hover::before, dfn:hover::before {
    position: absolute;
    top: 1em;
    left: 0;
    display: block;
    padding: 1em;
    background: var(--dark-grey-color);
    color: var(--white-color);
    content: attr(title);
    border-radius: 0.3em;
    margin: 0.4em 0 0 0;
    padding: 0.3em;
}

